@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 229, 231, 235;
  --background-end-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 41, 55;
    --background-end-rgb: 55, 65, 81;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
  background-image: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb)) 500px
  );
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
